th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
}
th[role=columnheader]:not(.no-sort):after {
  content: '';
  float: right;
  margin-top: 7px;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #404040 transparent;
  visibility: hidden;
  opacity: 0;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
th[aria-sort=ascending]:not(.no-sort):after {
  border-bottom: none;
  border-width: 4px 4px 0;
}
th[aria-sort]:not(.no-sort):after {
  visibility: visible;
  opacity: 0.4;
}
th[role=columnheader]:not(.no-sort):hover:after {
  visibility: visible;
  opacity: 1;
}
table {
  background:#fff;
  max-width:100%;
  border-spacing:0;
  width:100%;
  margin:10px 0;
  border:1px solid #ddd;
  border-collapse:separate;
  -webkit-box-shadow:0 0 4px rgba(0,0,0,0.10);
     -moz-box-shadow:0 0 4px rgba(0,0,0,0.10);
          box-shadow:0 0 4px rgba(0,0,0,0.10);
}
table th,
table td {
  padding:3px;
  line-height:18px;
  text-align:left;
  border-top:2px solid #ddd;
}
table th {
  background:#eee;
  background:-webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eee));
  background:-moz-linear-gradient(top, #f6f6f6, #eee);
  font-weight:bold;
  vertical-align:bottom;
}
table td {
  vertical-align:top;
}
table thead:first-child tr th,
table thead:first-child tr td {
  border-top:0;
}
table tbody + tbody {
  border-top:2px solid #ddd;
}
table th + th,
table td + td,
table th + td,
table td + th {
  border-left:1px solid #ddd;
}
table thead:first-child > tr:first-child th,
table tbody:first-child > tr:first-child th,
table tbody:first-child > tr:first-child td {
  border-top:0;
}

.leaflet-sidebar.collapsed {
  max-height: 160px;
}
.leaflet-sidebar {
  max-height: 100%;
  width: 300px;
  transition: width .5s, max-height .5s;
}
.leaflet-sidebar-pane {
  min-width: 250px;
  max-width: 250px;
  padding: 10px;
}
.leaflet-sidebar-left~.leaflet-control-container .leaflet-left {
  left:310px;
}

.leaflet-sidebar-tabs a {
  font: bold 32px "Lucida Console","Monaco",monospace;
}
.leaflet-sidebar-tabs svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.leaflet-touch .leaflet-bar a {
  height: 36px;
  width: 36px;
  line-height: 36px;
}
.gin-control-zoom {
  font: bold 24px "Lucida Console","Monaco",monospace;
}
.gin-control-zoom svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%)
}

.interactive {
  cursor: pointer;
}
tbody.following {
  box-shadow: -4px 0px steelblue;
}
td.following {
  background: lightsteelblue;
}
img.leaflet-sidebar-tab-icon32 {
  margin: 4px;
}
.leaflet-container.dark {
  background: #222;
}
body {
  margin: 0px;
}

.jobList-trackSeparator {
  text-align: center;
}
.jobList-jobHeader {
  position: relative;
  border-top: black solid 4px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.jobList-licenses {
  position: absolute;
  height: 24px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.jobList-license {
  position: relative;
  display: inline flow-root;
  margin-right: 4px;
}
.jobList-licenseBackground {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 2px;
  background-color: whitesmoke;
}
.jobList-license img {
  position: relative;
  height: 24px;
  z-index: 1;
}

#locoControlLocoId {
  width: 4em;
}
#locoControlControls label {
  display: inline-block;
  width: 5em;
}
.locoControlButton {
  font-size: 16pt;
  cursor: pointer;
}
.locoControlButton:hover {
  background-color: lightgray
}
.locoControlButton:active {
  background-color: lightblue;
}
#jobsTab input {
    float:left;
    clear:left;
}
#jobsTab label {
    float:left;
    clear: left;
}
#jobList {
    clear: left;
}